/*CSS rules grouped from least specific to most specific, top to bottom (1. *, html, body[if/when they are neccesary]; 2. tags; 3. classes; 4. ids)*/
/*Within groups, selectors are in alphabetical order, as are declarations within selectors*/
* {            /*Resets user agent stylesheet defaults*/
  margin: 0;
  padding: 0;
}

body { /*Changes default font for body to Georgia*/
  font-family: Georgia;
}

h1, h2, #bites-title{  /*Changes default for headlines and titles to be bold and aligned in center*/
  font-weight: bold;
  text-align: center;
}

/*Changes font-size for headers*/
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

nav {  /*Styling for navigation links (in header)*/
  align-items: center;
  display: inline-flex;
  flex: 0 250px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 40px;
}

p {  /*Sets font size for paragraph text*/
  font-size: 17px;
}

.background-image {  /*headlines with background image*/
  align-items: center;
  color: white;
  display: inline-flex;
  height: 300px;
  justify-content: center;
  padding: 0 20px;
}

.bites-head { /*headline in news bites*/
  border-bottom: 1px solid black;
  padding: 5px;
}

.column {  /*Each of the three main vertical columns of webpage*/
  display: inline-flex;
  flex-direction: column;
  height: 1100px;
  justify-content: space-around;
  margin: 30px 0;
}

.copyright { /*Copyright in header*/
  font-weight: normal;
}

.footer {  /*Footer of page*/
  align-items: center;
  background-color: MediumAquamarine;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  height: 375px;
  justify-content: center;
  margin: auto;
  padding: auto 500px;
}

.footer-item {  /*Spaces footer items*/
  margin: 20px;
}

.footer-nav {  /*List of links in header*/
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.header {  /*Header of page*/
  background-color: white;
  border: 1px solid black;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.main {  /*Main section of page*/
  display: flex;
  height: 1250px;
  justify-content: space-around;
  margin: 0 80px;
  position: relative;
  top: 70px;
  width: 1300px;
}

.news-bites { /*list of news bites story headlines*/
  background-color: WhiteSmoke;
  color: DimGray;
  display: inline-flex;
  flex-direction: column;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  height: 200px;
  justify-content: space-around;
}

.split-container {  /*contains the two sub-columns in large column on left*/
  display: inline-flex;
  height: 560px;
  justify-content: space-between;
  width: 100%;
}

.sec-story {  /*Secondary stories on page*/
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

.sub-column {  /*Each of the sub-columns in split-container*/
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 47%;
}

.title { /*Includes logo and site name in header*/
  align-items: center;
  color: MediumAquamarine;
  display: inline-flex;
  justify-content: flex-start;
  width: 150px;
  flex: 1 150px;
}

.title img {  /*logo in header*/
  height: 55px;
  margin-left: 10px;
  width: 55px;
}

.title span { /*text in title in header*/
  margin: auto 10px;
}

#cat { /*headline with cat image*/
  background-image: url("../images/cat.png");
}

#column1 { /*Large main column on left*/
  height: 1100px;
  width: 630px;
}

#column2 {  /*Medium-sized main column in middle*/
  height: 750px;
  width: 300px;
}

#column3 {  /*Small main column on right*/
  height: 600px;
  width: 240px;
}

#footer-title {  /*Title in header before links*/
  color: white;
  border-right: 2px solid white;
  padding-right: 38px;
}

#long-text { /*long stories with no image*/
  height: 380px;
}

#main-head {  /*headline of main story in large left column*/
  background-image: url("../images/main.png");
  color: white;
  height: 300px;
  overflow: hidden;
}

#main-story { /*contains main-head and following text*/
  display: inline-flex;
  flex-direction: column;
  height: 505px;
  justify-content: space-between;
  width: 100%;
}

#memory-erase {  /*Headline about memory*/
  background-image: url("../images/hipster.png");
}

#short-text {  /*short stories with no image*/
  height: 225px;
}

#world-flat { /*story with Earth Flat headline*/
  background-image: url("../images/fall.png");
}
